---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements

IncludeBlocks: Preserve
SortIncludes: false
